<p style="color: green"><%= notice %></p>

<h1>User errors</h1>

<div id="user_errors">
  <% @user_errors.each do |user_error| %>
    <%= render user_error %>
    <p>
      <%= link_to "Show this user error", user_error %>
    </p>
  <% end %>
</div>

<%= link_to "New user error", new_user_error_path %>
